################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StructuralPattern/.vs/StructuralPatterns
/BehavioralPatterns/obj
*.cs
*.cache
*.editorconfig
/StructuralPattern/obj
